* {
    margin: 0;
    padding: 0;
}
.container {
    height: 100vh;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
.navbar {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo {
    width: 50px;
    cursor: pointer;
}
.cart {
    width: 60px;
    cursor: pointer;
}
nav {
    flex: 1;
    padding-left: 60px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a {
    text-decoration: none;
    color: #333;
}
.cards{
	width: 300px;
	background-color: #d8d8d8;
	color: rgb(0, 0, 0);
    margin: 20px auto;
    border: 1px solid rgb(0, 0, 0);
}

.card-deck {
    display: flex;
}
img {
    width: 100%;
}
h3 {
	padding: 10px;
    text-align: center;
}
h4 {
	padding: 10px;
	font-size: 15px;
	padding: 0;
	text-align: center;
}
.upload {
    margin: 30px auto;
    text-align: center;
}
.categories_main {
    display: flex;
    box-sizing: border-box;
}
.panel {
    margin: 50px auto;
    text-align: center;
}
#small {
    width: 30%;
}